In [1]:
#neccessary imports
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read the data
df = pd.read_csv("data/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
#check for missing columns
df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

The feature `LotFrontage` contains missing values

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

## Data Pre-processing
 Missing values
 
 Categorical features to numerical

In [6]:
#copy the dataset before pre-processing
df_temp = df.copy()

In [7]:
df_temp.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
#Check for numerical columns
for label, content in df_temp.items():
    if pd.api.types.is_numeric_dtype(content):
        print(label)

Id
MSSubClass
LotFrontage
LotArea
OverallQual
OverallCond
YearBuilt
YearRemodAdd
MasVnrArea
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
TotRmsAbvGrd
Fireplaces
GarageYrBlt
GarageCars
GarageArea
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
MiscVal
MoSold
YrSold
SalePrice

In [9]:
#check for categorical colums
for label, content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
SaleType
SaleCondition

In [10]:
df_temp.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [11]:
#check for missing numerical columns
for label,content in df_temp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

LotFrontage
MasVnrArea
GarageYrBlt

In [12]:
#Check for missing categorical columns
for label,content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        if pd.isnull(content).sum():
            print(label)

Alley
MasVnrType
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Electrical
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PoolQC
Fence
MiscFeature

Now, we have seen our missing columns in the dataset; it is time to carry out data preprocessing by filling the numerical features with `mean` and the categorical features with `missing`

In [13]:
for label,content in df_temp.items():
    if pd.api.types.is_numeric_dtype(content):
        df_temp[label] = content.fillna(0)

In [14]:
for label,content in df_temp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

Now that the numerical columns are filled, let's fill the categorical columns as well

In [15]:
for label, content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        df_temp[label] = content.astype("category").cat.as_ordered()

In [16]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   category
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   category
 6   Alley          91 non-null     category
 7   LotShape       1460 non-null   category
 8   LandContour    1460 non-null   category
 9   Utilities      1460 non-null   category
 10  LotConfig      1460 non-null   category
 11  LandSlope      1460 non-null   category
 12  Neighborhood   1460 non-null   category
 13  Condition1     1460 non-null   category
 14  Condition2     1460 non-null   category
 15  BldgType       1460 non-null   category
 16  HouseStyle     1460 non-null   category
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   category
 22  RoofMatl       1460 non-null   category
 23  Exterior1st    1460 non-null   category
 24  Exterior2nd    1460 non-null   category
 25  MasVnrType     1452 non-null   category
 26  MasVnrArea     1460 non-null   float64
 27  ExterQual      1460 non-null   category
 28  ExterCond      1460 non-null   category
 29  Foundation     1460 non-null   category
 30  BsmtQual       1423 non-null   category
 31  BsmtCond       1423 non-null   category
 32  BsmtExposure   1422 non-null   category
 33  BsmtFinType1   1423 non-null   category
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   category
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   category
 40  HeatingQC      1460 non-null   category
 41  CentralAir     1460 non-null   category
 42  Electrical     1459 non-null   category
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   category
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   category
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    category
 58  GarageType     1379 non-null   category
 59  GarageYrBlt    1460 non-null   float64
 60  GarageFinish   1379 non-null   category
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   category
 64  GarageCond     1379 non-null   category
 65  PavedDrive     1460 non-null   category
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      category
 73  Fence          281 non-null    category
 74  MiscFeature    54 non-null     category
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   category
 79  SaleCondition  1460 non-null   category
 80  SalePrice      1460 non-null   int64
dtypes: category(43), float64(3), int64(35)
memory usage: 505.3 KB

In [17]:
df_temp.SaleCondition.cat.categories

Index(['Abnorml', 'AdjLand', 'Alloca', 'Family', 'Normal', 'Partial'], dtype='object')

In [18]:
#Assessing our strings in numeric value
df_temp.SaleCondition.cat.codes

0       4
1       4
2       4
3       0
4       4
       ..
1455    4
1456    4
1457    4
1458    4
1459    4
Length: 1460, dtype: int8

In [19]:
#Turn categorical into numbers and fill missing
for label,content in df_temp.items():
    if not pd.api.types.is_numeric_dtype(content):
        #Turn categories into numbers and add +1, we are adding +1 because pandas sees missing values as negative one
        df_temp[label] = pd.Categorical(content).codes + 1

In [20]:
#check for missing values again
df_temp.isna().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

In [21]:
for label,content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        if pd.isnull(content).sum():
            print(label)

In [22]:
for label,content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
            print(label)

Therefore, There are no missing and string columns again.

## Modelling

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [24]:
df_temp.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,4,65.0,8450,2,0,4,4,1,...,0,0,0,0,0,2,2008,9,5,208500
1,2,20,4,80.0,9600,2,0,4,4,1,...,0,0,0,0,0,5,2007,9,5,181500
2,3,60,4,68.0,11250,2,0,1,4,1,...,0,0,0,0,0,9,2008,9,5,223500
3,4,70,4,60.0,9550,2,0,1,4,1,...,0,0,0,0,0,2,2006,9,1,140000
4,5,60,4,84.0,14260,2,0,1,4,1,...,0,0,0,0,0,12,2008,9,5,250000

In [26]:
X = df_temp.drop("SalePrice", axis=1)
y = df_temp["SalePrice"]
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=42)
np.random.seed(42)
model = RandomForestRegressor()
model.fit(X_train,y_train)

RandomForestRegressor()

In [27]:
y_preds = model.predict(X_test)

In [28]:
y_preds

array([138885.25, 330930.56, 116912.75, 164697.4 , 320370.76,  84412.66,
       211651.17, 151899.9 ,  84509.49, 130588.51, 159118.5 , 122645.5 ,
       108344.5 , 207170.08, 179329.4 , 132741.25, 194561.65, 136400.  ,
       116502.  , 207681.35, 157312.5 , 222757.09, 176837.3 , 124097.25,
       194274.21, 175696.57, 184066.31, 105449.83, 176956.98, 192662.87,
       125092.5 , 246791.17, 181780.69, 112180.5 , 254912.24, 145948.  ,
       135994.75, 204598.79, 312981.66, 104136.49, 123839.  , 235687.04,
       121134.5 , 357359.86, 133000.  , 145880.79, 115210.66, 125997.43,
       390908.11, 147384.85, 124287.  , 194417.28, 124660.63, 371081.98,
       139352.5 , 236669.55, 196549.85, 149014.5 , 146087.61, 116465.83,
        78659.  , 150389.84, 308626.26, 282330.22, 285483.68, 207984.98,
       111849.87, 318490.76, 115507.12, 166135.45, 131370.91, 132459.2 ,
       113695.  ,  92368.5 , 450063.23, 171878.94, 314474.5 , 299407.81,
       135627.5 , 123032.5 , 102426.54, 107443.  , 123984.  , 104960.74,
       154373.01, 134304.02, 253976.01, 193343.76, 139373.52, 178058.07,
       140355.09, 161200.17, 121713.33, 257930.46, 124328.03, 178958.45,
       170357.28, 164800.52, 220289.83, 246009.2 , 175382.  , 208052.73,
       274250.46, 139027.99, 180158.87, 166917.5 , 142797.  , 281631.61,
       143243.1 , 185087.37,  65580.  , 129867.75, 133371.  , 138096.12,
       217451.54, 115501.66, 113041.  , 111053.  , 156557.21, 284940.1 ,
       149420.5 , 140978.32, 179801.3 , 184216.71, 174034.45, 126847.26,
       237958.77, 114943.5 , 146821.2 , 177792.5 , 187334.  , 368140.54,
       207603.78, 143186.88,  79727.83, 324610.78, 374464.23, 127763.86,
       232562.82, 577615.  , 333695.19, 125205.  , 179479.8 , 156789.5 ,
       139909.25, 116820.96, 223941.76, 197753.25, 129992.  ,  70953.  ,
       107342.  , 141786.97, 220768.29, 147607.63,  95386.12, 137126.2 ,
       140820.74, 151681.64,  87245.5 , 131901.5 , 229196.11, 150570.58,
       309920.15, 155287.68, 116940.33, 125262.82, 210677.06, 332964.56,
       431362.54, 235308.33, 359296.32, 100436.25, 127739.12, 165578.73,
       328082.32, 155951.15, 141247.78, 212666.71, 118261.  , 166557.32,
       158371.  ,  97544.5 , 138706.6 , 137956.12, 262358.35, 159777.5 ,
       293452.01, 208298.81, 190843.82,  90084.  , 122961.99, 118135.75,
       119137.83, 145888.87, 190013.57, 160195.34, 225091.78,  96521.92,
       206175.24, 111031.  , 223414.  , 186546.02, 126545.5 , 330131.35,
       191895.32, 130478.5 , 242840.83, 140363.  , 146474.55, 111848.  ,
       232216.86, 142624.27, 122890.5 , 163174.86, 185883.67, 282718.33,
       180486.54, 141715.37, 126820.5 , 140056.43, 139209.5 , 224239.56,
       188945.4 , 106197.58, 230702.71, 142291.25, 105250.  , 108463.09,
       168052.5 , 109552.  , 109134.5 , 181388.5 , 120273.5 , 142159.37,
       242625.88, 141470.76, 195500.13, 146150.32, 257033.75, 119310.74,
       119885.  , 231323.07, 210049.28, 397865.56, 189280.  , 123057.5 ,
       161715.25, 160914.19, 141698.94, 106694.33, 174475.79, 170597.45,
       146259.95,  99350.5 , 144349.99, 141489.14, 112495.69, 111017.  ,
       178326.22, 273874.55, 308853.58, 161770.09, 127323.33, 221084.95,
       245895.01, 203863.89, 167232.  , 140427.  , 121939.74, 166139.  ,
       379326.77, 213069.  , 235514.91, 114840.16, 100492.86, 139901.  ,
       137674.05, 323656.06, 200985.  , 153838.84, 210938.4 ,  95103.5 ,
       195842.07, 108444.87, 317199.63, 172683.6 , 222369.37, 119162.  ,
       240420.03, 179179.9 , 133046.88, 116616.  ])

In [30]:
mse = mean_squared_error(y_test,y_preds)

In [31]:
np.sqrt(mse)

28531.93743317582